@charset "UTF-8";

a1 {
    font-style: italic;
    text-decoration: none;
    color: #444
}

#contenu {
    color: #444;
    line-height: 1.6;
    font-size: 18px;
    margin: 40px auto;
    max-width: 650px;
    padding: 50px;
}

.button_container {
    width: 100%;
    text-align: center;
}
